.all-projects-container {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr) !important;
	gap: 1px !important;
	background: rgba(0, 0, 0, 0.1) !important;
	padding: 0 !important;
	margin: 0 !important;
}

.all-projects-project {
	background: #fff !important;
	width: 100% !important;
	padding: 0 !important;
	overflow: hidden !important;
}

@media (max-width: 600px) {
	.all-projects-container {
		grid-template-columns: 1fr !important;
	}
}